*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	
}
.navbar2
{
	background-color: #f1f1f1;
    display: flex;
    padding: 12px;
	justify-content: flex-start;
	box-shadow: 0px 0px 5px grey; 
}
.navbar2 a
{
	color: black;
	text-align: center;
	font-weight: bold;
	text-decoration: none;
    padding: 14px 0px;
    font-size: 20px;
}
.navbar2 a:hover
{
	
	border-radius: 150px;
	color: black;
}
.sticky {
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start; /* <-- this is the fix */
}
.logo786{
	position: absolute;
	padding: 5px 15px;
	left: 60px;
	width: 180px;
	height: 50px;
	margin: -5px 2px;
	outline:none;
}
.logo_originol{
	position: absolute;
    padding: 5px 0px;
    left: 60px;
    top: 32px;
    width: 155px;
    height: 50px;
    margin: -28px 2px;
    outline: none;
 }

#toggle
{
	display: none;
}
.togglearea
{
	background-color: #f1f1f1;
	color: transparent;
	padding: 30px;
	display: none;
	justify-content: flex-start;
	box-shadow: 0px 0px 5px grey; 	
}

.button {
	background-color: #4CAF50; /* Green */
	border: none;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 150px;
	outline:none;
  }
  .button2 {
	background-color: rgb(116, 171, 196);
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-left: 2px;
	position: absolute;
	right: 150px;
	width: 80px;
	height: 40px;
	padding: 0px 0px;
	margin: -5px;
	outline:none !important;
	border: none !important;
  } 
  .button3 {
	  background-color: #008CBA;
      box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
      margin-left: 2px;
	  position: absolute;
	  right: 60px;
	  width: 80px;
      height: 40px;
      padding: 0px 0px;
	  margin: -5px;
	  outline:none !important;
	  border: none !important;
	  
	} 
  .button2:hover {
		background-color: white !important;
		color: black;
		box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
	}
  .button3:hover {
	background-color: white !important;
	color: black;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  }

  .button-login-navbar{
	background-color: rgb(116, 171, 196);
	border: none;
	outline:none !important;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 2px;
	cursor: pointer;
	border-radius: 150px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	position: absolute;
	right: 110px;
	width: 80px;
	height: 40px;
	top:8px	
  }
  .button-signup-navbar{
	background-color: #008CBA;
	border: none;
	outline:none !important;
	color: white;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	cursor: pointer;
	border-radius: 150px;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	margin-left: 2px;
	position: absolute;
	right: 20px;
	width: 80px;
	height: 40px;
	top:8px	
  }
  .button-login-navbar:hover {
	background-color: white !important;
	color: black;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  }
  .button-signup-navbar:hover {
	background-color: white !important;
	color: black;
	box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
  }

  #homebtn{
	position: absolute;
    padding: 5px 0px;
    left: 265px;
    top: 38px;
    width: 155px;
    height: 50px;
    margin: -28px 2px;
	outline: none;
    color: #535565 !important;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
 }
 #aboutbtn{
	position: absolute;
    padding: 5px 0px;
    left: 355px;
    top: 38px;
    width: 155px;
    height: 50px;
    margin: -28px 2px;
	outline: none;
    color: #535565 !important;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
 }
  form.search_item input[type=text] {
    font-size: 15px;
    border: 1px solid grey;
    float: right;
    width: 40em;
    height: 35px;
    background: white;
    background-image: url('resources/images/selection.png');
    background-position: 7px 7px ;
    background-size: 20px;
    background-repeat: no-repeat;
	padding-left: 40px;
	position: fixed;
	left: 500px;
	margin: 1px;
	box-sizing: border-box;
	border-radius: 30px;  
}
form.search_item input:focus {
    outline:none;
    box-shadow: 0px 0px 5px green;
}
.wrapper {
    display: flex;
	width: 100%;

}

#sidebar {
    width: 270px;
    position: fixed;
	margin-left: -270px;
	height: 93%;
	overflow-y: scroll;
    z-index: 999;
	background: white;
	box-shadow: 0 0 0 0 ;
    color: #fff;
    transition: all 0.3s;
}
#sidebar::-webkit-scrollbar {
	width: 10px;
	display: none;
  }
  
#sidebar ::-webkit-scrollbar-track {
	
	background: #f1f1f1; 
}

#sidebar::-webkit-scrollbar-thumb {
	
	background: #888; 
}
#sidebar::-webkit-scrollbar-thumb:hover {
	
	background: #555; 
}
#sidebar.active {
	margin-left: 0;
	z-index: 1;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
	background: white;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: white;
    color: black;
    transition: all 0.3s;
}


#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
	padding-bottom: 25px;
	padding-left: 30px;
	position: relative;
	top: 50px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: green;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: green;
	
	font-weight: lighter;
	font-family: sans-serif;
}
ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: green;
}
.sidebarCollapse {
    width: 40px;
    height: 40px;
	background: transparent;
	outline:none !important;
	text-decoration: none;
	border: none;
	margin-top: -2px;
	margin-left: 5px;

}
.sidebarCollapse span {
    width: 45%;
	height: 2px;
    margin: 4px auto;
    display: block;
    background: black;
	transition: all 0s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	
}
#spinnermiddle.spinner-middle
{
  opacity: 0;
}

#spinnertop.spinner-top
{
  transform: rotate(135deg);
  margin-top: 8px !important;
}

#spinnerbottom.spinner-bottom
{
  transform: rotate(-135deg);
  margin-top: -12px !important;
}

#spinnermiddle2.spinner-middle
{
  opacity: 0;
}

#spinnertop1.spinner-top
{
  transform: rotate(135deg);
  margin-top: 8px !important;
}

#spinnerbottom3.spinner-bottom
{
  transform: rotate(-135deg);
  margin-top: -12px !important;
}
#wrapper-side {
	width: 100%;
	height: 91%;
	transition: all 0.3s;
	position: fixed;
	overflow: hidden;
	overflow-y: auto;
}

.t-center{
	padding-top: 64px !important;
    padding-bottom: 64px !important;
	text-align: center !important
}
.h-style{
	width: 90% !important;
	margin-left: auto !important;
	margin-right: auto !important;
	font-family: 'Roboto Slab Bold',serif;
	font-weight: 700;
	font-size: 2.61538461rem !important;
	margin-bottom: 24px !important;
}
.small-line{
	width: 64px !important;
	height: 8px !important;
	border-radius: 1000px !important;
	display: block !important;
	margin-bottom: 24px !important;
	background-color: blueviolet !important;
	margin-left: auto !important;
	margin-right: auto !important;
}
.below{
	position: relative;
	width: 100%;
	z-index: -1!important;
}
.wh-media{
	width: 85%;
    height: 98%;
}
.wh-media-special{
	width: 85%;
	height: 85%;
}

.frame{
	background-color: #e1ecf4;
	width: 100%;
	height: 20rem;
}
.footer{
	background-color: #242729;
	width: 100%;
	height: 20rem;
	color: white;
}

.footer-ar{
	margin-top: 3%;
	margin-left: 10%;
}
.footer-ar h3{
	display:inline;
	
}
#terms-below ul{
	list-style: none;
	display:inline;
}
#terms-below li a {
	position: relative; 
	left: 0px !important; 
	
	margin-right: 0px;
	font-size: 10px;
	background-color: transparent !important;
}

#logo_toggle{
	display: none;
}

#create-blog{
	background-color: white;
	box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
	color: green;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 14px;
	margin: -5px 2px;
	cursor: pointer;
	border-radius: 150px;
	position: absolute;
	left: 10px;
	width: 120px;
	height: 40px;
	outline:none !important;
	border: none !important;
}
#create-blog:hover {
	background-color: white !important;
	box-shadow: 0 0 8px 0 rgba(0,0,0,0.2), 0 0 20px 0 rgba(0,0,0,0.19);
	
  }
@media screen and (max-width: 700px)
{
	.navbar2
	{
		flex-direction: column;
		display: none;
	}

	.togglearea
	{	
		display: flex;
	}
    .logo_originol{
      display: none;
      }
	#logo_toggle{
		display: flex;
		position: absolute !important;
		left: 0px !important;
		top: 20px !important;
	}
	.button3 {
		flex-direction: column;
		display: flex;
		justify-content: center;
        position: static;
        padding: 14px;
		margin:0.4em auto;
		border: none;
		
	  }

	#sidebar {
		display: flex;
		margin-left: -280px;
		margin-top: 0px;
    }
    #sidebar.active {
        margin-left: 0;
	}
	.sidebarCollapse {
		position: fixed;
		left: 30px;
		margin-top: -25px !important;
		margin-left: -5px !important;
	}
	#sidebar ul li a {
		top: 110px !important;
	}
	#create-blog{
		top: 80px;
	}
	form.search_item2 input[type=text] {
		display: flex;
		width: 90%;
		position: fixed;
		top: 35px;
	  }
	form.search_item2 button{
		display: inline;
	}
	.wh-media{
		width: 65% !important;
		height: 80% !important;
		padding: 20px !important;
		margin-left: 50px !important;
		margin-bottom: 50px !important;
		margin-right: 50px !important;
		margin-top: 10px !important;
	}
	.wh-media-special{
		width: 65% !important;
		height: 80% !important;
		padding: 20px !important;
		margin-left: 50px !important;
		margin-bottom: 50px !important;
		margin-right: 50px !important;
		margin-top: 10px !important;
	}
	#terms-below li a {
		position: relative; 
		left: -250px !important; 
		list-style: none;
		display:inline;
		margin-right: 0px;
		font-size: 10px;
		background-color: transparent !important;
	}
}
@media screen and (max-width: 1100px)
{
	form.search_item input[type=text] {
		display: none;
		
	  }
	  form.search_item button{
		display: none;
	  }
	  form.search_item2 input[type=text] {
		display: flex;
		width: 90%;
		
	  }
	  form.search_item2 button{
		
		display: inline;
		
	  }
	 
}

