@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.backgroundarea{
  position: relative;
  background-color: white;
  max-width: 1600px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.mainarea-post{
  display: block;
  position: relative;
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  margin-top: 0px;
  padding: 40px;
  padding-bottom: 50px !important;
}
.mainarea-post.shift{
  margin-left: 270px !important;
}
.area{
  position: relative;
  background-color: white;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 8px;
  padding: 16px;
  border: 1px solid #cfd8dc;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: none;
}
.area:hover{
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.blog-image{
  position: relative;
  padding-left: 4px;
  background-color: transparent;
  color:  #999da0;
  border-radius: 4px;
  height: 64px;
  width: 72px;
  float: left;
  margin-right: 15px;
}
#content {
  position: relative;
  height: 100%;
  width: 100%;
  transition: all 0.3s;
  overflow: hidden;
  overflow-y: auto;
  background-color: transparent;
  }
  #content.content-shift{
  left: 0px;
  }
  .untitle{
    color: rgba(55,71,79,.6);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .25px;
    line-height: 21px;
  }
  .status{
    position: absolute;
    top: 55px;
    left: 100px;
    color: #f57c00;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .4px;
    line-height: 20px;
  }
  .time{
    position: absolute;
    top: 55px;
    left: 140px;
    color: #546e7a;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .4px;
    line-height: 20px;
  }
  #wrapper-post{
    color: green !important;
  }
  .publish{
    position: absolute;
    top: 15px;
    right: 85px;
    background: transparent;
    color: rgba(0,0,0,0.54);
    outline: transparent !important;
    border: transparent;
    font-size: 20px;
    display: none;
    z-index: 1;
  }
  .publish.show{
    display: block;

  }
  .publish:hover::after{
    position: absolute;
    left: -40%;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    content: 'Publish';
    z-index: 999 !important;
  }
  .trash{
    position: absolute;
    top: 15px;
    right: 50px;
    background: transparent;
    color: rgba(0,0,0,0.54);
    outline: transparent !important;
    border: transparent;
    font-size: 20px;
    display: none;
    z-index: 1;
  }
  .trash.show{
    display: block;

  }
  .trash:hover::after{
    position: absolute;
    left: -70%;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    content: 'Delete';
    z-index: 999 !important;
  }
  .preview{
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    color: rgba(0,0,0,0.54);
    outline: transparent !important;
    border: transparent;
    font-size: 20px;
    display: none;
    z-index: 1;
  }
  .preview.show{
    display: block;
  }
  .preview:hover::after{
    position: absolute;
    left: -80%;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    content: 'Preview';
    z-index: 999 !important;
  } 
  .lower{
    display: flex;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 180px;
    height: 30px;
    padding: 5px;
    background: transparent;
    z-index: 1;
  }
  .view{
    float: left;
    position: relative;
    right: -25px;
    margin: auto;
    background: transparent;
    color: rgba(0,0,0,0.54);
    outline: none;
    border: transparent;
    font-size: 15px;
    display: block;
    z-index: 1;
  }
  .view:hover::after{
    position: absolute;
    left: 20%;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    content: 'Views';
    z-index: 1;
  }
  .like{
    float: left;
    position: relative;
    margin: auto;
    background: transparent;
    color: rgba(0,0,0,0.54);
    outline: none;
    border: transparent;
    font-size: 15px;
    display: block;
    z-index: 1;
  }
  .like:hover::after{
    position: absolute;
    left: 20%;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 4px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    content: 'Likes';
    z-index: 1;
  }
  .comment{
    float: left;
    position: relative;
    background: transparent;
    color: rgba(0,0,0,0.54);
    outline: none;
    border: transparent;
    font-size: 15px;
    display: block;
    z-index: 1;
  }
  .comment:hover::after{
    position: absolute;
    left: -40%;
    top: 100%;
    background-color: black;
    color: white;
    font-size: 13px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 3px;
    content: 'Comments';
    z-index: 1;
  }
  .fullarea{
    position: relative;
    background-color:transparent;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
    padding: 0px;
    border: 1px solid #cfd8dc;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: none;
  }