.wrapper {
display: flex;
width: 100%;

}


@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
font-family: 'Poppins', sans-serif;
background: white;
}

p {
font-family: 'Poppins', sans-serif;
font-size: 1.1em;
font-weight: 300;
line-height: 1.7em;
color: #999;
}

a, a:hover, a:focus {
color: inherit;
text-decoration: none;
transition: all 0.3s;
}

#wrapper-side {
width: 100%;
height: 91%;
transition: all 0.3s;
position: fixed;
display: flex;
background-color: #f5f5f5;
overflow: hidden;
overflow-y: auto;
}
.form-place{
font-family: Arial, Helvetica, sans-serif;
width: 100%;
height: 100%;
position: absolute;
box-sizing: border-box;
align-items: center;
}
.center-area{
margin-top: 40px;
text-align: center;
align-items: center;
}
.container-form {
border-radius: 5px;
padding: 20px;
background-color: white;
box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
position: relative;
width:300px;
margin: 0 auto;

}
#blankspace{
background-color: transparent;
position: relative;
top: 700px;
width: 100%;
height: 100px;
color: white;
display: none;
}
#name-label{
position: absolute;
left: 25px;
margin-bottom: 20px;
}
#email-label{
position: absolute;
left: 25px;
margin-bottom: 20px;
}

#pass-label{
position: absolute;
left: 25px;
margin-bottom: 20px;
}
#conf-label{
position: absolute;
left: 25px;
top: 260px;
}
#not-match{
position: absolute;
left: 25px;
top: 328px;
font-size: 12px;
color: red;
display: none;
}
#not-match .dis{
display: block !important;
}
#ok-match{
position: absolute;
left: 25px;
top: 328px;
font-size: 12px;
color: green;
display: none;
}
#cntempty{
position: absolute;
left: 25px;
top: 85px;
font-size: 12px;
color: red;
display: none;
}
#invalidemail{
position: absolute;
left: 25px;
top: 165px;
font-size: 12px;
color: red;
display: none;
}
#invalidpass{
position: absolute;
left: 25px;
top: 245px;
font-size: 12px;
color: red;
display: none;
}
#adjust{
position: relative;
left: 0px;
top: 0px;
width: 5px !important;
margin-right: 5px !important;
}
form.login-form input[type=text] {
width: 100%;
padding: 5px;
border: 1px solid #d6d9dc;
margin-left: 0px ;
margin-top: 25px;
margin-bottom: 20px;
display: inline-block;
border-radius: 5px;

}
form.login-form input[type=password]{
width: 90%;
padding: 5px;
border: 1px solid #d6d9dc;
margin-top: 25px;
margin-bottom: 20px;
display: inline-block;
border-radius: 5px;
}

form.login-form input[type=text]:focus, form.login-form input[type=password]:focus {
outline:none;
box-shadow: 0px 0px 5px green;
}
.instruction{
border: none;
width: 20px; 
height:35px;
background-color: transparent;
border: none !important;
outline: none !important;
}
.captcha{
background-color: #f1f1f1;
width: 100%;
height: 60px;
border: 1px solid #d6d9dc;
margin: 3px ;
margin-bottom: 15px;
display: inline-block;
border-radius: 5px;
}

.loginbtn1 {
background-color:white;
background-image: url("../resources/images/google-logo.png");
background-repeat: no-repeat;
background-position: 65px;
background-size: 16px;
color: black;
padding: 6px 40px ;
margin: 8px 0;
font-size: 15px;
border: 1px solid #d6d9dc;
cursor: pointer;
width: 300px;
border-radius:4px;
text-align: center;
outline: none !important;
}
/* .g-signin2{
margin: 8px 0;
width: 300px;
background-size: 16px;
}
*/
.loginbtn1:hover {
background-color: #fafafb;

}
.button23 {
background-color:dodgerblue ;
width: 100%;
color: white;
border-radius: 5px;
margin-top: 0px;
border: none;
padding: 5px;
text-align: center !important;
outline: none !important;

}

.button23:hover {
background-color: #0077cc;
/* background-color: #f2f9ff; */
}

.form-place a {
color: dodgerblue;
}

/* Set a background color and center the text of the "sign in" section */
.signin {
background-color: #f5f5f5;
margin-top: 30px;

}
.signin p{
font-size: 15px;
color: black;
}

.myClass{
width:60px ;
background-color: #0077cc !important ;
height:auto;
}

.arrow-box{
display: table;
position: relative;
top: -280px;
right: -330px;
max-width:290px ;
height:auto;
border: none;
margin: 100px auto;
box-sizing: border-box;
background-color: white;
outline: none !important;
box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.arrow-box:after{
position: absolute;
width: 25px;
height: 25px;
border-top: none;
border-bottom: 2px solid transparent;
border-left: 2px solid transparent;
border-right:none;
top:50%;
left:0%;
margin-left: -12.5px;
content: ' ';
transform: rotate(45deg);
margin-bottom: -12.5px;
background: white;
}

#message {
display:none;
color: #000;
position: relative;
padding: 20px;
margin-top: -66px;
text-align: left;
border-radius: 20px;
}

#message p {
padding: 0px 20px;
margin-bottom: 5px;
font-size: 14px;
}
#message h3 {
padding: 0px 5px;
margin-right: 0px;
font-size: 14px;
}
/* Add a green text color and a checkmark when the requirements are right */
.valid {
color: green;
}

.valid:before {
position: relative;
left: -15px;
content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
color: red;
}

.invalid:before {
position: relative;
left: -15px;
content: "✖";
}
