.allcontainer{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
    overflow-y: auto;
}
.set{
    position: relative;
    width: 963px;
    max-width: 963px;
    height: 550px;
    background-color: transparent;
    margin: 15px auto 0;
    margin-top: 90px !important;
    border-bottom: none;
    box-shadow: 0 4px 5px 2px rgba(0,0,0,.3);
}
.setmenu{
    position: relative;
    width: 100%;
    max-width: 220px;
    height: 100%;
    background-color: white;
}
.profile-pic{
    position: relative;
    top: 50px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    background-color: #999da0;
    background-repeat: no-repeat;
    background-position: 0px 0px, -12px 7px;
    background-size: 100%,120%;
}
.setmenu ul{
    position: relative;
    top: 80px;
    left: 50px;
    list-style-type: none;
}
.setmenu ul li{
    margin: 0 auto;
    margin-bottom: 15px !important;
}