<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../resources/bootstrap.css">
    <link rel="stylesheet" href="write-blog.css">
    <title>Sphoot-For Those Who Want To Grow</title>
</head>

<body>
    <div class="navbar2 sticky-top">
        <a href=" #" ><img src=" ../images/logo2.png" alt=".." id="logo"></a>
        <a href="../userHome/userHome.php"><img src="../images/arrow-try.png" alt=".." id="arrow"></a>
    </div>
    <div id="title">
        <h5 id="title-h">Title</h5>
        <input type="text" placeholder="Title" id="input-h">
    </div>
    <div id="settings">
        <ul class="set-inline">
            <li><button style="color: gray; font-size: 18px; font-weight: lighter;">&#128393; </button></li>
            <li style="color: gray; font-weight: lighter;">|</li>
            <li><button style="color: black;">&#8630;</button></li>
            <li><button style="color: black;">&#8631; </button></li>
            <li style="color: gray; font-weight: lighter;">|</li>
            <li><button style="color: black;">A</button></li>
            <li><button style="color: black;"><img id="TT" src="../images/TT.png" alt=""></button></li>
            <li><button style="color: black;">Normal</button></li>
            <li style="color: gray; font-weight: lighter;">|</li>
            <li><button style="color: black; font-weight: 1000;">B</button></li>
            <li><button style="color: black; font-style: italic; ">I</button></li>
            <li><button style="color: black;"><u>U</u></button></li>
            <li><button style="color: black;">&#x0166;</button></li>
            <li><button style="color: black;  border-bottom: 3px solid black;">A</button></li>
            <li><button style="color: black; background-color: transparent;">&#x2712;</button></li>
            <li style="color: gray; font-weight: lighter;">|</li>
            <li><button style="color: black;"><img id="pclip" src="../images/pclip.png" alt=""></button></li>
            <li><button style="color: black;"><img id="gallery" src="../images/gallery.png" alt=""></button></li>
            <li><button style="color: black;"><img id="video" src="../images/video.png" alt=""></button></li>
            <li><button style="color: black;"><img id="smile" src="../images/smile.png" alt=""></button></li>
            <li><button style="color: black;"><img id="align" src="../images/allign.png" alt=""></button></li>
            <li id="dash" style="color: gray; font-weight: lighter;">|</li>
        </ul>
    </div>
    <div class="blank-space">
        <div class="message-area">
           
                <form action="" >
                    <textarea name="" class="textarea">

                     </textarea>
                </form>
            

        </div>
    </div>
















    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
    <script src="../resources/bootstrap.min.js"></script>
    <script src="write-blog.js"></script>

</body>

</html>